<h1>Welcome to the anagram checker</h1>
<form class="form-control" action="/result">
  <div class="form-group">
    <label for="master_word">Enter a master word you wish to check other words against</label>
    <input type="text" name="master_word">
    <label for="check_words">Enter a list of words with spaces between them to check if they are anagrams with your master word</label>
    <input type="text" name="check_words">
  </div>
  <button type="submit" class="btn-primary" name="button">Check for Anagrams</button>
</form>
